@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<img src="~/CowboyCafe-images/BuckingBronco.png" class="center" />
<h2 class="text-center">Whoops partner, you just got bucked off by an error!</h2>
